/* Mobile Design */
body {
  background-color:#9a7e68; 
}
.page{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}
header, nav, div,footer{
  padding:20px;
  margin:10px;
}
nav {
  background-color: #BBDCE5;
  display:flex;
  flex-direction: row;
  justify-content: center;
}
nav ul{
  display:flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 20px;
  align-items: center;
}
nav ul li button{
  background-color: #ECEEDF;
  border-color: #ECEEDF;
  height: 50px;
  width: 110px;
}
nav ul li button a{
  color: #8c5e4d;
  font-size: 60;
  text-decoration: none;
}
main{
  display:flex;
  flex-direction: column;
  flex:1;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Bold', Arial, sans-serif;
    font-size: 60px;
}
h1.center {
    text-align: center;
  color: #4a3006;
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Bold', Arial, sans-serif;
}
h2.center {
    text-align: center;
  color: #4a3006; 
}
h3{
   font-family: Georgia, 'Times New Roman', Times, serif ; 
}
h3.highlighted{
    font-weight: bold;
    color:#4a3006
}
article {
    background-color: #d1b69c;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 8px;
    flex: 1;
    border: 2px solid #4a3006;
}
p {
    text-align: left;
  font-family: Arial, Helvetica, sans-serif;
color:#fff5e5
}

#alert {
    font-weight: bold;
    background-color:#4d3506 
}
ul{
  font-family: Arial, Helvetica, sans-serif;
color:#fff5e5 
}
ol{
  font-family: Arial, Helvetica, sans-serif;
color:#fff5e5
}
a{
    font-weight: bold;
color:#fff5e5
}

/* Desktop Design Changes */
@media (min-width: 1024px){
nav {
  display:flex;
  flex-direction: row;
}
main {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
article{
  flex:1 
}
}



