body {background-color:#a2796a }
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Bold', Arial, sans-serif;
    font: 60px;
}
h1.center {
    text-align: center;
  color: rgb(0, 0, 0);
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Bold', Arial, sans-serif;
}
h2.center {
    text-align: center;
  color: rgb(0, 0, 0); 
}
h3{
   font-family: Georgia, 'Times New Roman', Times, serif ; 
}
h3.highlighted{
    font-weight: bold;
    color:#4a3006
}

p {
    text-align: left;
  font-family: Arial, Helvetica, sans-serif;
color:#fff5e5
}
#alert {
    font-weight: bold;
    background-color:#4d3506 
}
ul{
  font-family: Arial, Helvetica, sans-serif;
color:#fff5e5 
}
ol{
  font-family: Arial, Helvetica, sans-serif;
color:#fff5e5
}
a{
    font-family: Arial, Helvetica, sans-serif;
color:#fff5e5
}

